@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  @apply min-h-screen overflow-x-hidden;
}

.max-width {
  @apply max-w-5xl mx-auto;
}

.padd-x{
  @apply px-4 sm:px-6 lg:px-8 xl:px-0;
}

.padd-y {
  @apply py-8 sm:py-12 lg:py-16 xl:py-20;
}

nav ul a:hover {
@apply text-cyan-600;
}

.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#0E7490 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}